:root {
  box-sizing: border-box;
  --blue: #9fc0ff;
  --darkGray: #242424;
}

body {
  padding: 5rem;
}

.header {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: var(--darkGray);
  padding-bottom: 5rem;
}

.title {
  display: inline;
}

.title p {
  color: var(--blue);
  display: inline;
}

.container {
  display: flex;
}

.sidebar {
  width: 35%;
  background-color: var(--darkGray);
}